In [1]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [2]:
comments = pd.read_csv('data/attack_annotated_comments.tsv', sep='\t', index_col=0)
annotations = pd.read_csv('data/attack_annotations.tsv',  sep='\t')

In [3]:
comments.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>comment</th>
      <th>year</th>
      <th>logged_in</th>
      <th>ns</th>
      <th>sample</th>
      <th>split</th>
    </tr>
    <tr>
      <th>rev_id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>37675</th>
      <td>`-NEWLINE_TOKENThis is not ``creative``.  Thos...</td>
      <td>2002</td>
      <td>False</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
    </tr>
    <tr>
      <th>44816</th>
      <td>`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...</td>
      <td>2002</td>
      <td>False</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
    </tr>
    <tr>
      <th>49851</th>
      <td>NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...</td>
      <td>2002</td>
      <td>False</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
    </tr>
    <tr>
      <th>89320</th>
      <td>Next, maybe you could work on being less cond...</td>
      <td>2002</td>
      <td>True</td>
      <td>article</td>
      <td>random</td>
      <td>dev</td>
    </tr>
    <tr>
      <th>93890</th>
      <td>This page will need disambiguation.</td>
      <td>2002</td>
      <td>True</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
annotations.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>rev_id</th>
      <th>worker_id</th>
      <th>quoting_attack</th>
      <th>recipient_attack</th>
      <th>third_party_attack</th>
      <th>other_attack</th>
      <th>attack</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>37675</td>
      <td>1362</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>37675</td>
      <td>2408</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>37675</td>
      <td>1493</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37675</td>
      <td>1439</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>37675</td>
      <td>170</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
labels = annotations.groupby('rev_id')['attack'].mean() > 0.5
# join labels and comments
comments['attack'] = labels
comments.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>comment</th>
      <th>year</th>
      <th>logged_in</th>
      <th>ns</th>
      <th>sample</th>
      <th>split</th>
      <th>attack</th>
    </tr>
    <tr>
      <th>rev_id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>37675</th>
      <td>`-NEWLINE_TOKENThis is not ``creative``.  Thos...</td>
      <td>2002</td>
      <td>False</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>False</td>
    </tr>
    <tr>
      <th>44816</th>
      <td>`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...</td>
      <td>2002</td>
      <td>False</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>False</td>
    </tr>
    <tr>
      <th>49851</th>
      <td>NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...</td>
      <td>2002</td>
      <td>False</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>False</td>
    </tr>
    <tr>
      <th>89320</th>
      <td>Next, maybe you could work on being less cond...</td>
      <td>2002</td>
      <td>True</td>
      <td>article</td>
      <td>random</td>
      <td>dev</td>
      <td>False</td>
    </tr>
    <tr>
      <th>93890</th>
      <td>This page will need disambiguation.</td>
      <td>2002</td>
      <td>True</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
# remove newline and tab tokens
comments['comment'] = comments['comment'].apply(lambda x: x.replace("NEWLINE_TOKEN", " "))
comments['comment'] = comments['comment'].apply(lambda x: x.replace("TAB_TOKEN", " "))

In [7]:
train_comments = comments.query("split=='train'")
test_comments = comments.query("split=='test'")

In [8]:
clf = Pipeline([
    ('vect', CountVectorizer(max_features=None, ngram_range=(1, 1))),
    ('tfidf', TfidfTransformer(norm='l2')),
    ('clf', LogisticRegression(verbose=True))
])
clf = clf.fit(train_comments['comment'], train_comments['attack'])
clf
auc = roc_auc_score(test_comments['attack'], clf.predict_proba(test_comments['comment'])[:, 1])
print('Test ROC AUC: %.3f' %auc)

[LibLinear]

Test ROC AUC: 0.958

In [10]:
from sklearn.externals import joblib

joblib.dump(clf, 'backend/resources/attack_eng.pkl')

['backend/resources/attack_eng.pkl']

In [13]:
clf.predict(['ala ma kota'])

array([False], dtype=bool)