In [30]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [31]:
comments = pd.read_csv('data/attack_pl.csv', encoding='ANSI', index_col=0)
annotations = pd.read_csv('data/attack_annotations.tsv',  sep='\t')

In [32]:
comments.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>comment</th>
      <th>logged_in</th>
      <th>ns</th>
      <th>sample</th>
      <th>split</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>37675</th>
      <td>`- To nie jest&amp;quot; twórcze &amp;quot;. Są to def...</td>
      <td>0.0</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>2002.0</td>
    </tr>
    <tr>
      <th>44816</th>
      <td>`:: pojęcie` `standardowy model`` samo w sobie...</td>
      <td>0.0</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>2002.0</td>
    </tr>
    <tr>
      <th>49851</th>
      <td>Prawda czy fałsz, sytuacja, która miała miejsc...</td>
      <td>0.0</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>2002.0</td>
    </tr>
    <tr>
      <th>89320</th>
      <td>Następnie możesz pracować nad tym, aby być mni...</td>
      <td>1.0</td>
      <td>article</td>
      <td>random</td>
      <td>dev</td>
      <td>2002.0</td>
    </tr>
    <tr>
      <th>93890</th>
      <td>Ta strona będzie potrzebowała dwuznaczności.</td>
      <td>1.0</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>2002.0</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
annotations.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>rev_id</th>
      <th>worker_id</th>
      <th>quoting_attack</th>
      <th>recipient_attack</th>
      <th>third_party_attack</th>
      <th>other_attack</th>
      <th>attack</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>37675</td>
      <td>1362</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>37675</td>
      <td>2408</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>37675</td>
      <td>1493</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37675</td>
      <td>1439</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>37675</td>
      <td>170</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
labels = annotations.groupby('rev_id')['attack'].mean() > 0.5
# join labels and comments
comments['attack'] = labels
comments.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>comment</th>
      <th>logged_in</th>
      <th>ns</th>
      <th>sample</th>
      <th>split</th>
      <th>year</th>
      <th>attack</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>37675</th>
      <td>`- To nie jest&amp;quot; twórcze &amp;quot;. Są to def...</td>
      <td>0.0</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>2002.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>44816</th>
      <td>`:: pojęcie` `standardowy model`` samo w sobie...</td>
      <td>0.0</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>2002.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>49851</th>
      <td>Prawda czy fałsz, sytuacja, która miała miejsc...</td>
      <td>0.0</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>2002.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>89320</th>
      <td>Następnie możesz pracować nad tym, aby być mni...</td>
      <td>1.0</td>
      <td>article</td>
      <td>random</td>
      <td>dev</td>
      <td>2002.0</td>
      <td>False</td>
    </tr>
    <tr>
      <th>93890</th>
      <td>Ta strona będzie potrzebowała dwuznaczności.</td>
      <td>1.0</td>
      <td>article</td>
      <td>random</td>
      <td>train</td>
      <td>2002.0</td>
      <td>False</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
comments['comment'] = comments['comment'].astype(str)
comments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65116 entries, 37675 to 312182972
Data columns (total 7 columns):
comment      65116 non-null object
logged_in    65116 non-null float64
ns           65116 non-null object
sample       65116 non-null object
split        65116 non-null object
year         65116 non-null float64
attack       65116 non-null bool
dtypes: bool(1), float64(2), object(4)
memory usage: 3.5+ MB

In [36]:
train_comments = comments.query("split=='train'")
test_comments = comments.query("split=='test'")

In [37]:
clf = Pipeline([
    ('vect', CountVectorizer(max_features=None, ngram_range=(1, 3))),
    ('tfidf', TfidfTransformer(norm='l2')),
    ('clf', LogisticRegression(verbose=True))
])
clf = clf.fit(train_comments['comment'], train_comments['attack'])
clf
auc = roc_auc_score(test_comments['attack'], clf.predict_proba(test_comments['comment'])[:, 1])
print('Test ROC AUC: %.3f' %auc)

[LibLinear]

Test ROC AUC: 0.916

In [38]:
from sklearn.externals import joblib

joblib.dump(clf, 'backend/resources/attack_pl.pkl')

['backend/resources/attack_pl.pkl']

In [39]:
clf.predict(['głupi'])

array([ True], dtype=bool)